---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于我"
	description="介绍一下"
	pubDate={new Date('04 17 2023')}
	updatedDate={new Date('04 17 2023')}
	heroImage="/placeholder-about.jpg"
>
	<p>
		永远相信美好的事情不会发生。
	</p>

</Layout>
