---
// Component Imports
import Counter from "../components/Counter.vue";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
				background-color: #101214;
				color: white;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<main>
			<h1>Home Page</h1>
			<script
				src="https://giscus.app/client.js"
				data-repo="potato47/potato47.github.io"
				data-repo-id="MDEwOlJlcG9zaXRvcnk4MzY2MTA5MA=="
				data-category="Comments"
				data-category-id="DIC_kwDOBPyRIs4CUjXO"
				data-mapping="pathname"
				data-strict="0"
				data-reactions-enabled="1"
				data-emit-metadata="0"
				data-input-position="top"
				data-theme="dark_dimmed"
				data-lang="zh-CN"
				data-loading="lazy"
				crossorigin="anonymous"
				async
			></script>
		</main>
	</body>
</html>
